$sunYellow: rgb(255, 203, 5);
$mainGreen: rgb(43, 96, 48);
$grassGreen: rgb(35, 132, 65);
$appleGreen: rgb(106, 167, 68);
$limeGreen: rgb(166, 206, 57);
$borderColor: #e0e0e0;
$headerHeight: 50px;
$footerHeight: 60px;
$minWidth: 900px;
$sideGap: 20px;

html {
  position: relative;
  min-height: 100%;
  min-width: $minWidth;
}

body {
  margin: 0 0 ($footerHeight + 20px) !important;
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  background: #ddd;
}

a {
  cursor: pointer !important;
}

.footer {
  box-sizing: border-box;
  position: absolute;
  height: $footerHeight;
  border-top: 1px solid #ccc;
  left: 0;
  bottom: 0;
  background: white;
  width: 100%;
}

.container-custom {
  margin: 0 auto;
  padding: 0 $sideGap;
}

.header-custom {
  background: $mainGreen;
  height: $headerHeight;
  width: 100%;
  min-width: $minWidth;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  &__taskName {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: white;
    width: calc(100% - 220px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__user {
    height: 50px;
    line-height: 50px;
    width: 220px;
    text-align: right;
  }
}

.loginWrapper {
  width: 400px;
  margin: 100px auto 0;
  position: relative;
  padding: 10px;
  background: white;
  border: 1px solid $borderColor;
}

.error {
  background-color: #fff;
  padding: 10px;
  margin: 7px 0 0;
  font-size: 12px;
  line-height: 18px;
  color: rgb(244, 67, 54);
}

.materialTable {
  width: 100%;
  border-spacing:0;
  thead {
    tr {
      border-bottom: 1px solid $borderColor;
    }
    th {
      font-weight: normal;
      padding: 5px;
      text-align: left;
      position: relative;
      vertical-align: middle;
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid $borderColor;
      &:last-child {
        border-bottom: none;
      }
      td {
        padding: 5px;
        text-align: left;
        vertical-align: middle;
      }
    }
  }
  &--stripped {
    tbody tr:nth-child(even) {
      background: #eee;
    }
  }
  &--hover {
    tbody tr {
      transition: background 0.3s;
      &:hover {
        cursor: pointer;
        background: $appleGreen;
        color: white !important;
      }
    }
  }
  &--thead-highlight {
    thead tr {
      border-top: 1px solid #aaa;
      border-bottom: 1px solid #aaa;
    }
  }
}

.btn-sunYellow {
  background: $sunYellow;
  &:focus {
    background: $sunYellow;
  }
  &:hover {
    background: darken($sunYellow, 5);
  }
  &:active {
    background: darken($sunYellow, 5) !important;
  }
  &[disabled]:hover {
    background: $sunYellow;
  }
}

.debtorHeader {
  position: fixed;
  z-index: 5;
  top: $headerHeight + 5px;
  left: 0;
  width: 100%;
  min-width: $minWidth;
  &__wrapper {
    margin: 0 auto 5px auto;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    font-size: 14px;
    border-radius: 4px;
  }
  &__valueWrapper {
    color: $mainGreen;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    div {
      display: inline-block;
      &.text-ellipsis {
        display: inline;
      }
    }
    > span:first-child {
      margin-right: 5px;
      color: black;
    }
  }
}

.sortArrow {
  padding: 3px;
  position: relative;
  &:hover {
    background: #eee;
    cursor: pointer;
  }
  &--up {
    &:active {
      bottom: 2px;
    }
  }
  &--down {
    &:active {
      top: 2px;
    }
  }
}

.modal-full-width {
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100% - 40px);
}

.modal-custom-md {
  max-width: 600px;
  width: auto;
}

.modal-custom-lg {
  max-width: 1100px;
  width: auto;
}

#scroll-top-area {
  position: fixed;
  background: #ccc;
  top: $headerHeight;
  left: 0;
  height: 100%;
  opacity: 0.5;
  transition: background 0.2s;
  &:hover {
    cursor: pointer;
    background: #999;
  }
}

.flex-center-wrapper {
  display: flex;
  align-items: center;
  > * {
    margin-right: 10px !important;//надо
    &:last-child {
      margin-right: 0 !important;
    }
  }
}

.huge-block {
  margin-bottom: 80px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.medium-block {
  margin-bottom: 40px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.scroll-x-only {
  overflow-y: hidden;
  overflow-x: auto;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.font-bold {
  font-weight: bold;
}

/*small loader
************************************/
.loader {
  position: absolute;
  width: 2px;
  height: 20px;
  background: $appleGreen;
  right: 15px;
  bottom: 8px;
  animation: round 1000ms infinite;
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/**************************************/


/*Reset bootstrap
************************************/
.nav-pills > li {
  &.active {
    > a {
      background: $mainGreen;
      &:hover {
        background: $mainGreen;
      }
      &:focus {
        background: $mainGreen;
      }
    }
  }
  > a {
    background: white;
    border-radius: 4px;
    color: black;
    padding: 5px 8px;
    &:focus {
      outline: none;
    }
    &:hover {
      background: white;
      color: $mainGreen;
    }
  }
  &.disabled {
    > a {
      color: black !important;
    }
    &:hover {
      cursor: not-allowed;
    }
  }
}

$tabBorderWidth: 1px;
.nav-tabs {
  background: white;
  margin-bottom: 20px;
  display: flex;
  > li {
    > a {
      height: 100%;
      font-size: 16px;
      padding: 15px 10px;
      border: none;
      margin-right: 0;
      color: black;
      &:hover {
        background: white;
        border-bottom: $tabBorderWidth solid $borderColor;
        color: $mainGreen;
      }
      &:focus {
        outline: none;
        border-bottom: $tabBorderWidth solid $borderColor;
      }
    }
    &.active {
      margin-bottom: 0;
      > a {
        color: white !important;
        border: none;
        background: $appleGreen;
        &:focus {
          outline: none;
          border: none;
          background: $appleGreen;
        }
        &:hover {
          border: none;
          background: $appleGreen;
        }
      }
    }
    &.disabled {
      &:hover {
        cursor: not-allowed !important;
      }
    }
  }
}

.dropdown-toggle .caret {
  float: right;
  margin-top: 8px;
}

.modal-open {
  padding-right: 0 !important;
}

.fade.modal {
  padding-right: 0 !important;
}

.pagination {
  li.active {
    a {
      background: $appleGreen;
      border-color: $appleGreen;
      &:hover {
        background: $appleGreen;
        border-color: $appleGreen;
      }
      &:focus {
        background: $appleGreen;
        border-color: $appleGreen;
      }
    }
  }
}

@mixin panelTitle() {
  font-size: 18px;
  font-weight: bold;
  color: $mainGreen;
}

.panel {
  border: none;
  &:last-of-type {
    margin-bottom: 0;
  }
  &--transparent {
    background: transparent;
    box-shadow: none;
  }
  .panel-heading {
    background: white;
    padding: 5px 15px;
    border: none;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    @include panelTitle();
    a {
      @include panelTitle();
      display: block;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .panel-body {
    border-top: none !important;
  }
}
/**************************************/



/*Reset other
************************************/
.bm-menu-wrap {
  z-index: 15 !important;
}

.type-warning {
  color: black !important;
  background: $sunYellow !important;
}

/**************************************/