$radius: 4px;
$backColor: #333;

.drag-card {
  box-sizing: border-box;
  background: white;
  border: 1px solid $backColor;
  border-radius: $radius;
  font-size: 12px;
  &__handle {
    cursor: move;
    background: $backColor;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    text-align: right;
  }
  &__content {
    width: 152px;
    padding: 2px;
  }
  &__img {
    border-bottom-left-radius: $radius - 1px;
  }
  &__header {
    height: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 14px;
    line-height: 1.1;
    margin-bottom: 1px;
  }
}

.connection-title {
  transform-origin: left bottom;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  text-align: center;
  padding: 0 18px;
  height: 14px;
  font-size: 12px;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:disabled {
    background-color: transparent;
  }
}